.buttonContainer button {
  width: 100px;
  height: 100px;
  background-color: white;
  font-size: xx-large;
  color: black;
  border-radius: 10px;
  border: none;
}
.calculator {
  width: 470px;
  height: 700px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: solid 2px black;
  padding: 10px;
}
.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 450px;
  height: fit-content;
}
.pageContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.pageContainer p {
  width: 415px;
  height: 60px;
  border: solid 2px rgb(64, 64, 64);
  border-radius: 5px;
  background-color: rgb(156, 156, 156);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  font-size: x-large;
}
